/*
Colors used:
Primary Color (Dark Teal): #006478;
Secondary Color (Green): #3ca078;
Link/Button Color (Green): #3cc896;
Tertiary Color (Gold): #7e6529;
*/
:root {
  --main-color: #006478;
}

/* Contents
  General
  Header
  Hero
  Main
  Links
  Buttons
  Footer
*/

/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class*="col-"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.container {
  padding: 0 15px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding: 22px 0 22px;
  border-bottom: 1px solid lightgray;
}

#work .row:last-of-type {
  border-style: none;
}

img {
  width: 100%;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Header */
header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background-color: var(--main-color);
}

/* Mobile Hamburger */
#mobileSpacer {
  margin-top: 64px;
}

header a.icon {
  display: block;
  position: fixed;
  right: 16px;
  top: 14px;
  color: lightgray;
}

header a.icon:active {
  color: white;
}

header a.icon > i.navClosed {
  color: lightgray;
}

header a.icon > i.navOpened {
  color: #00333e;
}

.active {
  background-color: #3ca078;
  border-radius: 10px;
  color: white;
}

#logo {
  position: relative;
  font-size: .67em;
  display: flex;
  justify-content: center;
  height: 100%;
  opacity: 100%;
  padding: 10px 10px;
  color: white;
  line-height: 1.2em;
}

a#logo > svg {
  height: 44px;
  margin-right: 8px;
}

.logo-a-color {
  fill: #3cc896;
}

.logo-eye-color {
  fill: #006478;
}

.logo-v-color {
  fill: #3cc896;
}

/* .logo-a-color {
  fill: #006478;
}

.logo-eye-color {
  fill: #3cc896;
}

.logo-v-color {
  fill: #3cc896;
} */

@keyframes move-a {
  from {
    transform: translate(0, -100px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes move-v {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes cycleText {
  0% {
    content: "UX Designer";
  }
  33% {
    content: "Design Thinker";
  }
  67% {
    content: "Creative Problem Solver";
  }
  100% {
    content: "UX Designer";
  }
}

#heroText:after {
  animation: 9s cycleText infinite ease-out;
  content: "";
}

.a-part {
  animation: 0.6s move-a 1 normal ease-out;
}

.v-part {
  animation: 0.6s move-v 1 normal ease-out;
}

nav {
  display: none;
  position: fixed;
  justify-content: center;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #005161;
  border-radius: 10px 0 0 10px;
  padding: 22px 10px;
}

main ul {
  margin-left: 2em;
  margin-right: auto;
}

nav > ul {
  list-style-type: none;
  margin-top: 44px;
  padding: 0;
}

nav > ul > li {
  display: block;
  text-decoration-line: none;
  text-align: center;
  margin: 22px;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

nav > ul > li > a:visited {
  color: white;
}

/* Font */
body {
  font-family: "acumin-pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1,
h2,
h3,
h4 {
  width: 100%;
  line-height: 1.2;
  padding: 0.5em 0;
}

h1,
h3 {
  font-family: "acumin-pro-wide", "acumin-pro", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 2.75em;
  color: #7e6529;
  padding: 44px 0;
}

h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #7e6529;
  padding: 0;
}

h3 {
  font-size: 1.25em;
  color: #006478;
}

h4 {
  font-size: 1.1em;
  font-weight: 500;
}

p {
  display: inline-block;
  margin-right: auto;
  padding-top: 0.25em;
  padding-bottom: 1em;
}

#hero {
  text-align: center;
}

#hero h1 {
  margin: 0;
  padding: 0.5em 0 0.25em;
}

h1#workHero {
  padding: 1em 0
}

h1#aboutHero {
  padding: 1em 0
}

#hero span {
  display: block;
  font-weight: 600;
  font-size: 0.4em;
  line-height: 1.2em;
  color: #006478;
  text-align: center;
}

#work {
  text-align: center;
}

#work h3 {
  font-size: 1.5em;
  padding: 0.5em 0;
}

/* Projects */
main#project {
  padding-bottom: 0;
}

div.row.reverse {
  flex-direction: column-reverse;
}

div.row#hero {
  padding-bottom: 1em;
}

#heroImg {
  padding: 0 10px;
}

.section {
  padding-bottom: 5em;
  border-bottom: 1px solid lightgray;
}

.section::after {
  content: "";
  clear: both;
  display: table;
}

.section:last-of-type {
  padding-bottom: 2em;
}

.capFirst {
  font-size: 1.25em;
}

#project ul {
  padding-bottom: 1em;
}

#contents {
  background-color: lightgray;
}

#contents ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 0;
  text-align: center;
}

#tools p {
  font-size: .8em;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: .25em 0 0 ;
}

#project h2 {
  padding: 2em 0em 2em;
  text-align: center;
}

#contents h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  padding: 2em 0 1em;
}

#project #userTests .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#project #userTests p {
  width: 80%;
  margin-left: auto;
  text-align: center;
  padding-bottom: 0;
}

h2 > span {
  line-height: 2.5em;
  font-weight: 300;
  font-size: 0.67em;
  color: dimgray;
}

#project h3 {
  font-weight: 600;
  padding: 0 0 .5em;
}

#project h4 {
  color: black;
}

#project h4 span {
  color: #7e6529;
}

#project b {
  font-weight: 600;
  color: #7e6529;
}

#project img {
  padding: 1em;
  max-width: 500px;
  max-height: 500px;
}

.projGif picture img {
  width: 200px;
}

#demoVid {
  width: 100%;
  height: 300px;
}

#interactiveProto {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}

/* About */

.col-md-4 {
  padding: .5em;
}

#about h2 {
  padding: 1em 0em 1em;
}

#about img {
  max-width: 500px;
  max-height: 500px;
  padding: 1em;
}

#about p {
  padding-bottom: .5em;
}

#about #uxSkills, #uxTools, #softSkills {
  margin: 0;
  padding-bottom: 0;
  font-size: .8em;
  text-align: center;
}

#cvButton {
  padding-top: 2em;
}

/* Links */
a {
  font-family: "acumin-pro-wide", "acumin-pro", sans-serif;
  color: #3cc896;
  text-decoration: none;
}

a:visited {
  color: darkmagenta;
}

a:hover {
  opacity: 0.8;
}

a:active {
  color: #3ca078;
}

/* Buttons */
.button {
  display: inline-block;
  color: #ffffff;
  background-color: #3cc896;
  text-shadow: 0px 2px #3ca078;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 8px;
  border-bottom: 2px solid #3ca078;
  transition: 300ms opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #3ca078;
}

#contact .button {
  font-weight: 600;
  color: #3ca078;
  background-color: #ffffff;
  text-shadow: 0px 0px #ffffff;
  border: 4px solid #3cc896;
  border-radius: 64px;
  padding: 8px 16px;
}

li a.listButton1 {
  font-family: "acumin-pro", sans-serif;
  margin: 0.8em;
  padding: 8px 16px;
}

li a.listButton2 {
  font-family: "acumin-pro", sans-serif;
  margin: 0 0.8em 0.8em;
  padding: 8px 16px;
}

/* Footer */

footer {
  display: block;
  text-align: center;
  width: 100%;
  background-color: lightgray;
}

#contact .row {
  align-items: center;
}

#contact .column {
  display: flex;
  height: 80%;
  align-items: center;
}

#contact h2 {
  color: #006478;
  margin-bottom: 0;
  padding: 33px 0 11px;
}

#contact p {
  width: 100%;
}

#linkedin {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 10px 10px;
}

#linkedin svg {
  width: 48px;
  height: 48px;
}

#copyright {
  font-size: 0.8em;
  background-color: #006478;
  margin: 0;
  padding: 0.5em 0;
}

#copyright p {
  font-size: 0.8em;
  margin: 0 auto;
  color: white;
  padding: 0;
}

/* Animation Example */
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  div.row.reverse {
    flex-direction: row;
  }

  .column {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  body {
    font-size: 20px;
  }

  #project > div {
    padding: 0 44px;
  }

  #project h2 {
    font-family: "acumin-pro-wide", "acumin-pro", sans-serif;
    font-size: 2em;
    margin: 0;
  }

  #contents h2 {
    font-family: "acumin-pro", sans-serif;
  }

  h2 > span {
    font-size: 0.5em;
    color: dimgray;
  }

  #project h3 {
    text-align: center;
  }

  #project #userTests p {
    width: 80%;
    margin-left: 20%;
  }

  #project .projGif {
    justify-content: flex-start;
  }

  header {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    background-color: #006478;
  }

  #mobileSpacer {
    display: none;
  }

  /*   #hero {
    background-color: lightgray;
  } */

  #hero h1 {
    padding: 0.5em 0;
  }

  h1#workHero {
    line-height: 1.5em;
    padding: 1em 0
  }

  h1#workHero > strong:before {
    content: "Hey, ";
  }

  h1#workHero > strong:after {
    content: " Vigeant";
  }

  #heroImg {
    padding: 1em 10px 10px;
  }

  #work {
    text-align: left;
  }

  #work h3 {
    font-size: 1.67em;
    padding-top: 0;
  }

  #work p {
    font-size: 1.25em;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-6#headshot {
    width: 33%;
  }
  .col-md-6#mystory {
    width: 67%;
  }

  /* Change from Hamburger to Regular Nav */
  header a.icon {
    display: none;
  }

  #logo {
    padding: 22px;
  }

  a#logo > svg {
    height: 64px;
  }

  /*  .logo-a-color {
    fill: #3cc896;
  }

  .logo-eye-color {
    fill: #006478;
  }

  .logo-v-color {
    fill: #3cc896;
  } */

  nav {
    display: flex !important;
    position: relative;
    right: unset;
    top: unset;
    width: 80%;
    justify-content: flex-end;
    border-radius: 0;
    padding: 0;
    background-color: #006478;
  }

  nav > ul {
    display: flex;
    margin: 0;
    padding: 0 10px 0 0;
  }

  nav > ul > li {
    margin: 10px 22px;
  }

  .active {
    padding: 5px 10px;
  }

  li.active {
    padding-top: 0;
  }

  /* Projects */
  #demoVid {
    width: 80%;
    height: 500px;
    margin: 0 10%;
  }

  #project img {
    padding: 1em 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
}
