/*
Colors used:
Primary Color (Dark Teal): #006478;
Secondary Color (Green): #3ca078;
Link/Button Color (Green): #3cc896;
Tertiary Color (Gold): #7e6529;
*/

/* Layout styling */
.container {
  padding: 0 15px;
}

/* Header */
* {
  box-sizing: border-box;
}

/* Font */
body {
  font-family: "acumin-pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1,
h3 {
  font-family: "acumin-pro-wide", "acumin-pro", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.75em;
  color: #006478;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  color: #7e6529;
}

h3 {
  font-size: 1.75em;
  color: #3ca078;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Hero Section */
.hero {
  background-color: #ccbbb7;
  width: 100%;
}

.row {
    margin: 25px 0;
}

/* Image Width */
image {
  width: 100%;
}

/* Links */
a {
  color: #3cc896;
  text-decoration: none;
}

a:visited {
  color: darkmagenta;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

a:active {
  color: #3ca078;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #3cc896;
  color: #ffffff;
  text-shadow: 0px 2px #3ca078;
  font-weight: 400;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 2px solid #3ca078;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #3ca078;
}

.button.contact {
  font-family: "acumin-pro-wide", "acumin-pro", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #006478;
  text-shadow: 0px 0px #ffffff;
  text-transform: lowercase;
  border: 3px solid #3cc896;
}

.button.contact:hover {
  background-color: #3cc896;
  color: #ffffff;
}
